[Unit]
Description=DNSCrypt Proxy Service
Requires=network.service

[Service]
NonBlocking=true
EnvironmentFile=/etc/sysconfig/dnscrypt-proxy.conf
ExecStart=/usr/sbin/dnscrypt-proxy -R $RESOLVER -a $LISTEN_ADDRESS --user=dnscrypt

[Install]
WantedBy=multi-user.target
