# ~/.ssh/config, see ssh_config(5)

Host *
	ControlMaster auto
	ControlPath /tmp/sshc-%C.sock
	# set QoS explicitly
	# .. this is useful when ControlMaster is set and the initial
	# .. connection is established as a background process, such
	# .. as with VSCode's ssh plugin; by default, background
	# .. processes use QoS cs1, which is not appropriate for
	# .. interactive shell and/or coding sessions
	IPQoS ef
	# don't drop the connection if the network is down temporarily
	TCPKeepAlive no
	# but do send ssh keepalives so that dropped connections exit after 30s
	ServerAliveInterval 10
	ServerAliveCountMax 3
	ForwardAgent no
	StrictHostKeyChecking accept-new
	HostKeyAlgorithms -ssh-rsa
	IdentityFile ~/.ssh/id_ed25519
