### place in ~/.subversion/config
[auth]
# Set store-passwords to 'no' to avoid storing passwords in the
# auth/ area of your config directory. It defaults to 'yes'.
# Note that this option only prevents saving of *new* passwords;
# it doesn't invalidate existing passwords.
store-passwords = no
# Set store-auth-creds to 'no' to avoid storing any subversion
# credentials in the auth/ area of your config directory.
# It defaults to 'yes'. Note that this option only prevents
# saving of *new* credentials; it doesn't invalidate existing
# caches.
store-auth-creds = no
