# GhostBSD: /etc/ipfw.rules
ipfw add 00100 allow ip from any to any via lo0
ipfw add 00200 deny ip from any to 127.0.0.0/8
ipfw add 00300 deny ip from 127.0.0.0/8 to any
ipfw add 00400 deny ip from any to ::1
ipfw add 00500 deny ip from ::1 to any
ipfw add 01100 check-state :default
ipfw add 01200 allow tcp from me to any established
ipfw add 01300 allow tcp from me to any setup keep-state
ipfw add 01400 allow udp from me to any keep-state
ipfw add 01500 allow icmp from me to any keep-state
ipfw add 01600 allow ipv6-icmp from me to any keep-state
ipfw add 02000 allow tcp from any to me 22 in
ipfw add 65000 count ip from any to any
ipfw add 65100 deny { tcp or udp } from any to any 135-139,445 in
ipfw add 65200 deny { tcp or udp } from any to any 1026,1027 in
ipfw add 65300 deny { tcp or udp } from any to any 1433,1434 in
ipfw add 65400 deny ip from any to 255.255.255.255
ipfw add 65500 deny ip from any to 224.0.0.0/24 in
ipfw add 65500 deny udp from any to any 520 in
ipfw add 65500 deny tcp from any 80,443 to any 1024-65535 in
ipfw add 65500 deny ip from any to any
ipfw add 65535 allow ip from any to any
