[Unit]
Description=DNS blocklist updater
ConditionKernelCommandLine=!rd.live.image
Wants=network-online.target

[Timer]
OnBootSec=10min
OnUnitInactiveSec=1d
Unit=dnsblock.service

[Install]
WantedBy=multi-user.target
