/* CentOS: /etc/polkit-1/rules.d/55-prohibit-shutdown.rules */
polkit.addRule(function(action, subject) {
	if ((action.id == "org.freedesktop.login1.suspend" ||
		 action.id == "org.freedesktop.login1.suspend-multiple-sessions" ||
		 action.id == "org.freedesktop.login1.hibernate" ||
		 action.id == "org.freedesktop.login1.hibernate-multiple-sessions" ||
		 action.id == "org.freedesktop.login1.reboot" ||
		 action.id == "org.freedesktop.login1.reboot-multiple-sessions" ||
		 action.id == "org.freedesktop.login1.power-off" ||
		 action.id == "org.freedesktop.login1.power-off-multiple-sessions")) {
	// we disable it for all users
		return polkit.Result.NO;
	}
});
