# CentOS: /etc/ssh/sshd_config, see sshd_config(5)
#
# Linux nota bene:
UsePAM yes
PrintMotd no
# $ sudo ln /usr/libexec/openssh/sftp-server /usr/libexec/sftp-server

## Authentication
PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication yes
AuthenticationMethods publickey,password
AuthorizedKeysFile .ssh/authorized_keys
PermitEmptyPasswords no
ChallengeResponseAuthentication no
MaxAuthTries 3
HostKeyAlgorithms ssh-ed25519,ssh-rsa

# env
AcceptEnv LANG LC_ALL TZ

## override default of no subsystems
Subsystem sftp /usr/libexec/openssh/sftp-server
