[Unit]
Description=DNSCrypt Proxy Service - backup
Requires=network.service
PartOf=dnscrypt-proxy.service

[Service]
NonBlocking=true
EnvironmentFile=/etc/sysconfig/dnscrypt-proxy.conf
ExecStart=/usr/sbin/dnscrypt-proxy -R $RESOLVER_2 -a $LISTENER_2 --user $DNSCRYPT_USER --ephemeral-keys
Restart=on-abort

[Install]
WantedBy=multi-user.target
