# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.
#
# If you want to change the port on a SELinux system, you have to tell
# SELinux about this change.
# semanage port -a -t ssh_port_t -p tcp #PORTNUMBER
#
#Port 22

# only support ed25519
HostKey /etc/ssh/ssh_host_ed25519_key
KexAlgorithms curve25519-sha256@libssh.org
Ciphers chacha20-poly1305@openssh.com
MACs hmac-sha2-512-etm@openssh.com

# Logging
SyslogFacility AUTHPRIV

# Authentication:
PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no
MaxAuthTries 2
UsePAM yes
UsePrivilegeSeparation sandbox

# explicitly deny forwarding
AllowAgentForwarding no
X11Forwarding no

# TCPKeepAlive is unencrypted hence spoofable; ClientKeepAlive is within the tunnel
ClientAliveInterval 10
ClientAliveCountMax 2
TCPKeepAlive no

# don't use compression (client default)
Compression no

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

# override default of no subsystems
Subsystem	sftp	/usr/libexec/openssh/sftp-server

### DEBIAN-SPECIFIC
## by default, /etc/pam.d/login includes a directive to print MOTD;
## -> ergo uncomment this if you're getting MOTD printed twice
#PrintMOTD no
