# OpenBSD: /etc/ssh/sshd_config, see sshd_config(5)

## authentication
PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication yes
AuthenticationMethods publickey,password
AuthorizedKeysFile .ssh/authorized_keys
PermitEmptyPasswords no
KbdInteractiveAuthentication no
MaxAuthTries 3
HostKeyAlgorithms ssh-ed25519

# env
AcceptEnv LC_ALL TZ

# time out stale client sessions after 120s
TCPKeepAlive no
ClientAliveCountMax 8
ClientAliveInterval 15

## override default of no subsystems
Subsystem sftp /usr/libexec/sftp-server

### nota bene for Linux
#UsePAM yes
#PrintMotd no
## sftp subsystem
# Alpine:      /usr/lib/ssh/sftp-server
# Arch:        /usr/lib/ssh/sftp-server
# Debian:      /usr/lib/openssh/sftp-server
# Fedora/RHEL: /usr/libexec/openssh/sftp-server
